<div class="panel panel-default">
    <div class="panel-heading">{{recipe.title}}</div>
    <div class="panel-body">
        Source : {{recipe.source}}<br>
        Type : {{recipe.kind}}<br>
        Note : {{recipe.grade}}/10<br>
        Difficulté : {{recipe.difficulty}}<br>
        <div>
            <h3><b>Recette</b></h3>
            <div class="line-separator"></div>
            {{recipe.recipe}}
        </div>
        <div>
            <h3><b>Remarques</b></h3>
            <div class="line-separator"></div>
            {{recipe.notes}}
        </div>
    </div>
</div>